
<!--  单页并且总数大于页数，或者不为单页 -->
<ng-container  *ngIf="(hideOnSinglePage&&(total>pageSize))||!hideOnSinglePage">
    <ul
        *ngIf="!nzSimple"
        class="pagination">
         <!-- 总数 -->
        <span class="pagination-total-text" *ngIf="showTotal">
            <ng-template
                [ngTemplateOutlet]="showTotal"
                [ngTemplateOutletContext]="{ $implicit: total, range:[(pageIndex-1)*pageSize+1,pageIndex*pageSize] }">
            </ng-template>
        </span>
        <!-- prev -->
        <li
            title="prev"
            class="pagination-prev"
            (click)="jumpPre()"
            [class.pagination-disabled]="isFirstIndex">
            <ng-template [ngTemplateOutlet]="itemRender" [ngTemplateOutletContext]="{ $implicit: 'pre'}"></ng-template>
        </li>
        <!-- first -->
        <li
            [attr.title]="firstIndex"
            class="pagination-item"
            (click)="jumpPage(firstIndex)"
            [class.pagination-item-active]="isFirstIndex">
            <ng-template [ngTemplateOutlet]="itemRender" [ngTemplateOutletContext]="{ $implicit: 'page',page: firstIndex }"></ng-template>
        </li>
        <li
            [attr.title]="'prev_5'"
            (click)="jumpPreFive()"
            class="pagination-jump-prev"
            *ngIf="(lastIndex >9)&&(pageIndex-3>firstIndex)">
            <a></a>
        </li>
        <li
            *ngFor="let page of pages"
            [attr.title]="page.index"
            class="pagination-item"
            (click)="jumpPage(page.index)"
            [class.pagination-item-active]="pageIndex==page.index">
            <ng-template [ngTemplateOutlet]="itemRender" [ngTemplateOutletContext]="{ $implicit: 'page',page: page.index }"></ng-template>
        </li>
        <li
            [attr.title]="next_5"
            (click)="jumpNextFive()"
            class="pagination-jump-next"
            *ngIf="(lastIndex >9)&&(pageIndex+3<lastIndex)">
            <a></a>
        </li>
        <li
            [attr.title]="lastIndex"
            class="pagination-item"
            (click)="jumpPage(lastIndex)"
            *ngIf="(lastIndex>0)&&(lastIndex!==firstIndex)"
            [class.pagination-item-active]="isLastIndex">
            <ng-template [ngTemplateOutlet]="itemRender" [ngTemplateOutletContext]="{ $implicit: 'page',page: lastIndex }"></ng-template>
        </li>
        <li
            title="next"
            class="pagination-next"
            (click)="jumpNext()"
            [class.pagination-disabled]="isLastIndex">
            <ng-template [ngTemplateOutlet]="itemRender" [ngTemplateOutletContext]="{ $implicit: 'next'}"></ng-template>
        </li>
    </ul>
</ng-container>

<ng-template #renderItemTemplate let-type let-page="page">
    <a class="pagination-item-page" *ngIf="type=='page'">{{page}}</a>
    <a class="pagination-item-link" *ngIf="type=='pre'">上一页</a>
    <a class="pagination-item-link" *ngIf="type=='next'">下一页</a>
</ng-template>