/* You can add global styles to this file, and also import other style files */

@import '../src/assets/css/animate.scss';
@font-face {
  font-family: 'Lato';
  src: url('../src/assets/fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('../src/assets/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../src/assets/fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
       url('../src/assets/fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('../src/assets/fonts/Lato-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
html {
  margin: auto;
  // border: 1px solid black;
  background: #bbb;
  max-width: 1024px;
}
body {
  margin: 0;
  background: #fff;
  font-family: 'Monaco' !important;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
}
@media screen and (max-width: 960px) {
  html {
    background: #fff;
  }
}

a {
  color: #e9a66c !important;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    color: rgba(#e9a66c, .8) !important;
  }
}
*::-webkit-scrollbar {display:none !important;}
*::scrollbar {display:none  !important;}